main {
  margin-top: 20px;
}

.faq-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11rem;
  /* background-color: var(--color-main-yellow-2); */
  overflow: hidden;
}

.faq-header-container h1 {
  color: var(--color-main-purple-1);
  font-size: 7.5rem;
  padding: 0;
  margin: 0;
}

.faq-header-container img {
  width: 25em;
  margin-top: 10px;
}

article {
  margin-top: 3em;
  width: auto;
}

.faq-container {
  width: 95%;
  margin: 0 auto;
}

.faq {
  border: 1px solid #727272;
  margin: 40px 0;
  border: none;
  border-radius: 0 30px 30px 0;
  overflow: hidden;
  width: 100%;
}

.faq-question {
  background-color: var(--color-main-purple-2);
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* .faq-question.active {
  background-color: var(--color-main-purple-3);
  color: #fff;
} */

.faq-question h2 {
  padding: 0;
  margin: 0;
}

.faq-question img {
  transition: transform 0.5s ease;
  width: 40px;
}

.faq-answer {
  background-color: #cccccc;
  padding: 15px;
  display: none;
  font-size: 1.3rem;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.question-container .question-text {
  width: 100%;
  text-align: left;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.question-container .ask-text {
  width: 100%;
  text-align: right;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.question-container input {
  width: 90%;
  padding: 20px;
  border-radius: 50px;
  font-size: 2.8rem;
  margin: 10px 0;
}

.question-container button {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 2.4rem;
  background-color: var(--color-main-purple-2);
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
}
